#wrapper{
    margin: auto;
    width: 350px;
    height: 500px;
    border: 1px solid black;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}
.emailPassword{
    width: 252px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 15px;
    padding-left: 20px;
}
#submit{
    width: 279px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
#name{
    width: 180px;
    height: 40px;
    padding-left: 20px;
}
#age{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
}
#signUp{
    width: 272px;
    height: 40px;
    background-color: red;
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}
#radio{
    margin-bottom: 20px;
}
#back{
    width: 272px;
    height: 40px;
    background-color: white;
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
}