<div id="wrapper">
  <form *ngIf="register" (submit)="onSubmit()">
      <h1>Welcome to Pinterest</h1>
    <input class="emailPassword" type="text" name="email" placeholder="Email"
      required
      [(ngModel)]="emailPassword.email"
    ><br>
    <input class="emailPassword" type="password" name="password" placeholder="Create a Password"
      required
      [(ngModel)]="emailPassword.password"
    >
    <input id="submit" type="submit" value="Continue">
  </form>
  <form *ngIf="gender">
    <h1>Welcome to Pinterest</h1>
    <input id="name" type="text" name="name" placeholder="Full name">
    <input id="age" type="age" name="age" placeholder="Age"><br>
    <input id="radio" type="radio" name="male">Male
    <input type="radio" name="femail">Female
    <input type="radio" name="custom">Custom<br>
    <input id="signUp" type="submit" value="Sign up"><br>
    <button id="back" (click)="goBack()" type="submit">Back</button>
  </form>
</div>
