<div *ngIf="currentUser.length >= 1" class="container">
  <div class="profileHeader">
    <h2>{{currentUser[0].name}}</h2>
    <div class="profileRight">
      <div class="follows">
        <div class="follow">
          <p class="number">{{currentUser[0].followers.length}}</p>
          <p>Followers</p>
        </div>
        <div class="follow">
          <p class="number">{{currentUser[0].following.length}}</p>
          <p>Following</p>
        </div>
      </div>
      <div class="profile">
        <img class="profile" src="/assets/images/kimk.jpg" style="height:200px;width:195px">
      </div>
    </div>
    <div class="profileNav">
      <a class="nav" [routerLink]="['boards']" [routerLinkActive]="['active']"> Boards</a>
      <a class="nav" [routerLink]="['pins']" [routerLinkActive]="['active']"> Pins </a>
    </div>
  </div>
  <div class="profileContent">
    <router-outlet></router-outlet>
  </div>
</div>