<div class="container">
  <h1>home</h1>
  <br>
</div>
<div *ngIf="pins" class="pinsContainer">
  <div *ngFor="let pin of pins" class="pins">
    <a [routerLink]="['/', 'pin', pin._id]"><img src="{{pin.image}}" style="width:200px;border-radius:5px;"></a>
    <p *ngIf="pin" style="color:#888;margin:2px;display:inline-block">{{pin.title}}</p>
    <a href="home#addtoboard" (click)="pinAdding(pin)" class="plus" style="text-decoration:none;float:right;display:inline-block;font-size:20px;margin-right:5px">+</a>
  </div>
</div>

<a class="lightbox" id="addtoboard">
  <div class="addToBoard">
    <div class="lightBoxHeader">
      <h2 style="display:inline-block;">Add to Board</h2>
      <a class="close" href="home#">X</a>
    </div>
    <hr>
    <div class="LightBoxContentContainter">
      <div class="addPinThumb">
        <h4 *ngIf="addPinBoard" style="color:#888">{{addPinBoard.title}}</h4>
        <img *ngIf="addPinBoard" src="{{addPinBoard.image}}" style="width:200px;border-radius:5px;">
      </div>

      <div *ngIf="pins.length>=1" class="addBoardSelect">

        <ng-container *ngFor="let board of boards">
          
            <ng-container *ngIf="board._owner==currentUser._id">
              <div class="displayBoard">
                <h5 style="color:#888">{{board.name}}</h5>

                <ng-container *ngFor="let pin of pins">

                  <div *ngIf="board._pins[0]==pin._id" style="display:inline-block">
                    <img src="{{pin.image}}" height="auto" height="25px" style="display:inline-block;">
                  </div>

                </ng-container>
                <a  href="javascript:void(0)" (click)="addToBoard(board._id,addPinBoard._id)">
                Add to Board 
                </a>
         
            </div>
          


          </ng-container>
        </ng-container>
      </div>
    </div>


  </div>
</a>