<div class="container">
    <div class="createBoard">
      <div class="graysquare">
        <img (click)="addPin()" class="dropdown" src="/assets/images/plus.png" height="40" width="43">
      </div>
      <div class="inboard">
      </div>
    </div>
</div>

<h2>Create a new pin</h2>
<form (submit)="gotUrl()">
  <input type="text" name="address" [(ngModel)]="url.address">
  <button type="submit">Next</button>
</form>

<div class="grid" *ngIf="imageOptions">
  <div>Choose an image for your pin!</div>
  <div class="pin-choice" *ngFor="let link of imageList"><img src="{{link}}" (click)="ChooseImg(link)"></div>
</div>
