
.grid{
    width: 900px;
}

.pin-choice{
    width: 270px;
    height: 260px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.pin-choice img{
    width: 270px;
    height: 260px;
}

/* Julian's stuff from Boards Component */

div.graysquare{
    height:100px;
    width:175px;
    background-color: #EFEFEF;
    padding: 30px;
    border-radius:5px;
    margin:auto;
}
div.container{
    margin-top:20px;
}
img.plus{
    text-align: center;
    margin-left:65px;
    margin-top:30px;
}
div.createBoard{
    padding-top:10px;
    height:200px;
    width: 250px;
    border-radius:5px;
    display: inline-block;
}
div.createBoard:hover{
    background-color: #E0E0E0;
}
div.newBoard{
    height: 400px;
    width: 900px;
    background-color: white;
    margin:auto;
    margin-top:80px;
    border-radius: 5px;
    padding:20px;
    color: #888;
    overflow: scroll;
}
p.createBoard{
    margin-left:10px;
    margin-top:9px;
    font-weight: 600;
    color:#757575;
}
a{
    text-decoration:none;
}

/* Light box test */

/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
html,body {
  font-family: 'Raleway', sans-serif;
  padding: 0 2em;
  font-size: 18px;
  background: #222;
  color: #aaa;
  text-align:center;
}

h1 {
  font-size: 3em;
  font-weight: 200;
  margin: 0.5em 0 0.2em 0;
}

p {
  margin: 1.5em 0;
  color: #888;
}
a.close{
    float:right;
    display: inline-block;
    text-decoration: none;
    color:#888;
}
.thumbnail {
  max-width: 40%;
}
hr{
   border: 1px solid #ccc;
}
/** LIGHTBOX MARKUP **/

.lightbox {
	/** Default lightbox to hidden */
	display: none;
	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}



.lightbox:target {
	/** Remove default browser outline */
	outline: none;

	/** Unhide lightbox **/
	display: block;
}